blinker
certifi
charset-normalizer
click
colorama
contourpy
cycler
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash
flask
fonttools
idna
importlib-metadata
itsdangerous
jinja2
kiwisolver
markupsafe
matplotlib
nest-asyncio
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
requests
retrying
seaborn
setuptools
six
tenacity
typing-extensions
tzdata
urllib3
werkzeug
zipp
gunicorn